<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Formulario de acceso</h1>
    <form action="/" method="post">
        <label>Login:
            <input type="text" name="nombre">
        </label>
        <br><br>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <br>
        <input style="padding: 0.5rem; margin: 1rem;" type="submit" name="submit" value="Login">
    </form>

</body>

</html>